section ul li {
    color: rgb(245, 211, 242);
}

section h2 {
    color: rgb(245, 211, 242);
    padding: 20px 10px 10px;
}

#rec {
    width: 290px;
    height: 400px;
}

.card#rec {
    text-align: center; 
}